<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">

        <!-- Navbar brand -->
        <mdb-navbar-brand><a class="navbar-brand" href="#">Film House</a></mdb-navbar-brand>
      
        <!-- Collapsible content -->
        <links>
      
            <!-- Links -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active" routerLinkActive="active">
                    <a class="nav-link waves-light" routerLink="popolari" routerLinkActive="router-link-active"  mdbWavesEffect>Popolari</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link waves-light" routerLink="categorie" mdbWavesEffect>Categorie</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link waves-light" [routerLink]="['/contatti']" mdbWavesEffect>Contatti</a>
                </li>
            </ul>
            <!-- Links -->
      
      <!-- Search form -->
            <form class="form-inline waves-light" mdbWavesEffect>
                <div class="md-form my-0">
                    <input [formControl]="searchInput" class="form-control mr-sm-2" type="text" placeholder="Search">
                </div>
            </form>
        </links>
        <!-- Collapsible content -->
      
      </mdb-navbar>
      <!--/.Navbar-->

