<!-- Default form contact -->
<form class="text-center border border-light p-5" [formGroup]="form" (ngSubmit)="onSubmit(form.value)">

    <p class="h4 mb-4">Contact us</p>
  
    <!-- Name -->
    <input type="text" formControlName="nome" id="defaultContactFormName" mdbInput
      class="form-control mb-4" placeholder="Name">
  
    <!-- Email -->
    <input type="email" formControlName="email" id="defaultContactFormEmail" mdbInput
      class="form-control mb-4" placeholder="E-mail">
  
    <!-- Message -->
    <div class="form-group">
      <textarea formControlName="messaggio" class="form-control rounded-0" mdbInput id="exampleFormControlTextarea2"
        rows="3" placeholder="Message"></textarea>
    </div>
  
    <!-- Copy -->
    <mdb-checkbox [default]="true" class="mb-4">Send me a copy of this message</mdb-checkbox>
  
    <!-- Send button -->
    <button mdbBtn color="info" outline="true" block="true" class="z-depth-0 my-4 waves-effect"
      mdbWavesEffect type="submit" [disabled]="!form.valid">Send</button>
  
  </form>
  <!-- Default form contact -->